*{
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    margin: 0;
}
.container{
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right, #00e5ff6b 4%, #0C123E 5%, #0C123E 95%, #00e5ff6b 96%); */
}
.navbar{
    width: 100%;
     left: 0;
    z-index: 1;
}
.tela-cad-log{
    width: 100%;
    height: 100%;
    flex-direction: row;
    z-index: 0;
}

.div-secao{
    display: flex;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.div-secao.forms{
    width: 40%;
    box-shadow: 10px 4px 10px #000;
}
.div-secao.paineis{
    width: 60%;
}
.div-formulario{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}


.titulo{
    width: 80%;
    font-size: 150%;
}
.linha{
    width: 50%;
    background: #00E5FF;
}
.label-form{
    width: 80%;
    font-size: 90%; 
}
.inpt-form{
    width: 50%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    margin-right: 30%;
    color: #fff;
}
.div-formulario div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 15%;
}
.btn-form{
    width: 40%;
    height: 6%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    border-color: #00E5FF;
    color: #fff;
}
.btn-form:hover{
    transform: scale(1.1);
}
.div-formulario.login .titulo{
    width: 80%;

}
.div-formulario.login .titulo b{
    width: 40%;
    margin-left: 30%;
}
.painel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.painel div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.img-painel{
    width: 100%;
    height: 100%;
}
.div-formulario, .painel {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.div-formulario.hidden, .painel.hidden {

    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    
}

.div-formulario.visible, .painel.visible {

    opacity: 1;
    transform: scale(1);
    pointer-events: auto;

}

.loading-div-cad {
    width: 80vh;
    display: none;
    background-color: red;
}
  
.loading-div-cad img {
    height: 50px;
    width: 50px;
}

.loading-div-log {
    width: 80vh;
    display: none;
    background-color: red;
}
  
.loading-div-log img {
    height: 50px;
    width: 50px;
}