*{
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    margin: 0;
}
.container{
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right, #00e5ff6b 4%, #0C123E 5%, #0C123E 95%, #00e5ff6b 96%); */
}
.div-secao{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.div-formulario{
    display: flex;
    width: 60%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: -4px 4px 10px #00E5FF;
    position: absolute;
}


.titulo{
    width: 80%;
    font-size: 150%;
}
.linha{
    width: 50%;
    background: #00E5FF;
}
.label-form{
    width: 80%;
    font-size: 90%; 
}
.inpt-form{
    width: 50%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    margin-right: 30%;
    color: #fff;
}
.div-formulario div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 15%;
}
.btn-form{
    width: 40%;
    height: 6%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    border-color: #00E5FF;
    color: #fff;
}
.btn-form:hover{
    transform: scale(1.1);
}
.div-formulario.login .titulo{
    width: 80%;

}
.div-formulario.login .titulo b{
    width: 40%;
    margin-left: 30%;
}
.painel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}


.titulo-painel{
    margin-top: 20%;
    width: 100%;
    font-size: 200%;
    text-align: center;
}
.desc-painel{
    width: 70%;
    text-align: center;
    font-size: 120%;
}
.painel.cadastro .desc-painel{
    width: 100%;
}
.painel div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn-painel{
    width: 35%;
    height: 15%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    background-color: #00E5FF;
    border: none;
    color: #0C123E;
    font-weight: bolder;
    margin-left: 10%;
}
.btn-painel:hover{
    transform: scale(1.1);
}
.img-painel{
    width: 100%;
}
.div-formulario, .painel {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.div-formulario.hidden, .painel.hidden {

    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    
}

.div-formulario.visible, .painel.visible {

    opacity: 1;
    transform: scale(1);
    pointer-events: auto;

}
