body {
  background-color: #141e65;
}

.dashboard,
.filtrada {
  display: flex;
}

.kpis {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 2.5%;
}

.kpis h2 {
  font-weight: lighter;
  width: 95%;
  display: flex;
  align-items: end;
  height: 8%;
  margin: 2.5%;
}

.kpis .box-kpi {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
}

.box-kpi {
  width: 95%;
  height: 27%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1c3a87;
  border-radius: 3px 30px 3px 30px;
  box-shadow: 1px 3px 4px 2px #0c123e;
}

.titulo-kpi {
  font-size: 15px;
}

.dado-kpi {
  font-size: 40px;
  text-shadow: 0 0 4px #fff;
  font-weight: bold;
}

.legenda-kpi {
  font-size: 15px;
  text-shadow: 0 0 15px #fff;
}

.ranking {
  width: 20%;
  height: 98%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.ranking h2 {
  font-weight: lighter;
  width: 95%;
  display: flex;
  align-items: end;
  height: 8%;
  margin: 2.5%;
}

.ranking b {
  font-size: 20px;
  color: #00b5e3;
  text-shadow: 0 0 12px #00b5e3;
}

.dados-curso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7%;
}

.dados-curso p {
  font-size: 16px;
  padding-top: 25px;
}
.divisa {
  text-decoration: underline;
  color: #00b5e3;
  width: 100px;
}

.tabela-ev {
  background-color: #1c3a87;
  border-radius: 3px 30px 3px 30px;
  box-shadow: 1px 3px 4px 2px #0c123e;
  width: 95%;
  height: 90%;
  margin: 2.5%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tb-alunos {
  text-align: end;
}

.tb-alunos p {
  padding-top: 16px;
}

.indicador {
  font-size: 22px;
}

.graficos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 45%;
  margin-left: 1.5%;
  margin: 0.75%;
}

.graficos h2 {
  font-weight: lighter;
}

.superior {
  width: 48%;
  padding: 10px;
}

.grafico {
  width: 100%;
  height: 85%;
  background-color: #1c3a87;
  border-radius: 3px 30px 3px 30px;
  box-shadow: 1px 3px 4px 2px #0c123e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartInside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.inferior {
  width: 100%;
  padding: 10px;
}

.superior-filtrada {
  display: flex;
  flex-direction: row;
  height: 25%;
}

.kpis-ft {
  width: 30%;
  height: 100%;
}

.box-kpi-ft {
  background-color: #1c3a87;
  border-radius: 3px 30px 3px 30px;
  box-shadow: 1px 3px 4px 2px #0c123e;
  width: 90%;
  height: 100%;
  padding: 2%;
}

.descricao {
  margin-top: 3%;
  width: 60%;
  height: 100%;
  align-items: center;
  display: flex;
  background-color: #1c3a87;
  border-radius: 3px 30px 3px 30px;
  box-shadow: 1px 3px 4px 2px #0c123e;
  font-size: 18px;
  text-align: center;
}

.container-ft {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
}

.container-ft h2 {
  font-weight: lighter;
}

.box-inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: 100%;
}

.inferior-filtrada {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 55%;
  margin-top: 5%;
  width: 90%;
  gap: 1.5%;
}

#mensalidade {
  width: 40%;
}

.grafico-ft {
  background-color: #1c3a87;
  border-radius: 3px 30px 3px 30px;
  box-shadow: 1px 3px 4px 2px #0c123e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grafico-ft .chartInside {
    width: 95%;
    height: 90%;
}

.box-kpi-ft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.kpi-sup,
.kpi-inf {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.kpi-sup {
  margin-top: 5px;
}

.left p,
.right p {
  font-size: 15px;
  font-weight: lighter;
}

.left h3 {
  font-size: 25px;
  font-weight: normal;
}

.right h3 {
  font-size: 40px;
  display: flex;
  font-weight: normal;
  margin-top: -10px;
}
