.left-container .container-content {
    padding-right: 60px;
}

.left-container div span {
    display: block;
    margin-bottom: 20px;
}

.right-container .container-title {
    max-width: 200px;
}

.recomendation-sent {
    width: fit-content;
    border-bottom: solid 2px;
    border-color: #00D4EC;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.recomendation-sent h3 {
    font-weight: 400;
}

.recomendation-sent p {
    font-weight: 200;
}