ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

header nav {
    width: 100vw;
    padding: 10px 0;
    position: absolute;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;

}

header nav ul li:nth-of-type(1) {
    font-size: 22px;
    margin-right: 20%;
    font-weight: 100;
}

header nav ul li:nth-of-type(4) {
    margin-right: 5%;
}

header ul a {
    position: relative;
    padding-bottom: 10px;
}

.navbarLinks:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    /* top: 10px; */
    bottom: 0;
    left: 0;
    background-color: #00D4EC;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbarLinks:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header nav ul li span {
    font-weight: 500;
}

nav li:nth-of-type(5) a {
    text-shadow: none;
    display: inline-block;
    padding: 0.9rem 1.9rem;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #00D4EC;
    border-radius: 84px 5px 139px 79px;
}

nav li:nth-of-type(5) a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00D4EC;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}

nav li:nth-of-type(5) a:hover::before {
    transform: translate(0);
}

/* header nav ul li:nth-of-type(5) {
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid #00D4EC;
    border-radius: 84px 5px 139px 79px;
} */

header section {
    display: flex;
    justify-content: space-between;
}

header section div {
    margin: 12% 8%;
}

header section div h1 {
    font-weight: 400;
    text-shadow: 0 0 10px #fff, 0 0 2px #fff;
    font-size: 6vw;
    line-height: 1;
}

header section div span {
    font-weight: 100;
    display: block;
}

header section div h2 {
    max-width: 500px;
    margin-top: 20px;
    color: #00B5E3;
    text-shadow: 0 0 4px #00B5E3;
}

header section div article button {
    padding: 12px 30px;
    margin-top: 20px;
}

header section div article button:nth-of-type(1) {
    border: 2px solid #00B5E3;
    border-radius: 20px 2px 20px 20px;
    background-color: #00B5E3;
    font-weight: 700;
}

header section div article button:nth-of-type(2) {
    border: 2px solid #00B5E3;
    border-radius: 20px 20px 20px 2px;
    background-color: transparent;
    font-weight: 400;
    color: #ffffff;
}

header section img {
    margin-left: -30%;
}

main article {
    /* width: 100%; */
    /* background-color: red; */
    padding: 0 45px;
}

main span {
    color: #00D4EC;
}

main h3 {
    font-size: 50px;
    font-weight: 300;
    text-shadow: 0 0 12px #fff, 0 0 4px #fff;
}

main h3 span {
    text-shadow: 0 0 12px #00D4EC, 0 0 4px #00D4EC;
}

.textArea {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.textArea:nth-of-type(1) {
    flex-direction: row-reverse;
    margin-top: 0;
}

.textArea section {
    display: flex;
    flex-direction: column;
}

.textArea section p {
    margin-top: 20px;
    max-width: 87%;
}

.textArea img {
    margin-top: 5%;
    width: 40%;
}

.textArea:nth-of-type(1) section {
    align-items: flex-end;
}


.textArea:nth-of-type(1) h3 {
    text-align: right;
}

.textArea:nth-of-type(2) {
    flex-direction: row;
}

.textArea:nth-of-type(2) h3 {
    text-align: left;
}

.textArea:nth-of-type(2) section {
    align-items: flex-start;
}

.textArea:nth-of-type(2) img {
    width: 80%;
}

#companyValues {
    margin-top: 15%;
}

#companyValues section h3 {
    text-align: center;
    margin-bottom: 4%;
}

#companyValues article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#companyValues div {
    padding: 30px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#companyValues div h4 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 500;
}

#companyValues div p {
    font-size: 20px;
    max-width: 80%;
    font-weight: 100;
}

#companyValues div:nth-child(1) {
    background-color: #2448A3;
}

#companyValues div:nth-child(2) {
    background-color: #162B6B;
}

#companyValues div:nth-child(3) {
    background-color: #141E65;
}

#teamArea h3 {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 40px;
}

#teamArea article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

#teamArea article:nth-of-type(2) {
    margin-top: 3%;
}

#teamArea div {
    background-color: #1C3A87;
    border-radius: 60px 0;
    padding: 20px;
    width: 15vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teamPic {
    width: 70%;
    margin-bottom: 10px;
}

.teamSkills {
    font-size: 15px;
    margin-top: 15px;
}

.teamContacts {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
}

.teamContacts img {
    width: 35px;
    cursor: pointer;
}

footer {
    background-color: #070A24;
    padding: 60px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

footer a {
    font-weight: 100;
}

footer h3 {
    font-weight: 500;
}

footer span {
    font-weight: 100;
}

footer section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section:nth-of-type(1) img {
    width: 100px;
    margin-top: 20px;
}

#footerNavArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #00D4EC;
    border-top: 0;
    border-bottom: 0;
    width: 60%;
    margin-left: -5px;
    margin-right: 40px;
}

footer nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

footer section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
}

footer section:nth-of-type(2) a {
    margin-bottom: 20px;
}

.socialMediaCorporation {
    width: 20px;
    margin: auto;
}

#copyRight {
    width: 100vw;
    background-color: #070A24;
    text-align: center;
    padding-top: 10px;
}