.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    width: 90%;
}
.container-ajuda {
    position: fixed; /* Posiciona em relação à tela */
    bottom: 0;
    left: 0;
    width: 10%; 
    height: 10%; 
    margin: 2%; 
}

.btn-ajuda{
    position: relative;
    width: 45%;
    height: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    border: 2px solid #00E5FF;
    text-align: center;
    color: #00E5FF;
    font-weight: 100;
    font-size: 200%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Corrigido erro "cnter" para "center" */
}
.form-valid{
    margin-top: 15%;
    width: 60vw;
    height: 70vh;
    box-shadow: -4px 4px 10px #00E5FF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.titulo-a{
    font-size: 150%;
    width: 200%;
    text-align: start;
}
.titulo-b{
    font-size: 150%;
    width: 200%;
    font-weight: 600;
    text-align: end;
    margin-left: 25%;
}
.btn-verify{
    width: 20%;
    height: 10%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    border-color: #00E5FF;
    color: #fff;
    font-size: 150%;
    font-weight: 100;
}
.inpt-verify{
    width: 25%;
    height: 20%;
    border: none;
    border-bottom: 1px solid #00E5FF;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 300%;
    text-align: center;
}
.tooltip {
    position: absolute;
    bottom: 60px; /* Ajusta a posição para ficar acima do botão */
    left: 0; /* Alinha o tooltip à esquerda para evitar que ultrapasse a tela */
    transform: translateX(0); /* Remove a centralização horizontal */
    opacity: 0;
    visibility: hidden;
    background-color: #162B6B;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
    letter-spacing: 0.5px;
    z-index: 9999;
    width: 250px; /* Largura fixa do tooltip */
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.4;
}

.tooltip::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #162B6B;
    transform: rotate(45deg);
    bottom: -5px;
    left: 20px; /* Ajusta a posição da seta para ficar à esquerda */
    z-index: 9999;
}

.btn-ajuda:hover .tooltip {
    bottom: 80px; /* Posiciona o tooltip acima do botão */
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10000;
}